flows.json
[{"id":"f0f6d170ce49dc91","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"9edb2e2375061ec1","type":"http request","z":"f0f6d170ce49dc91","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://192.168.1.114:4000/","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"credentials":{"user":"","password":""},"x":390,"y":100,"wires":[["b31b554878a56036","6fae9c1fb66df454","094f89d5483dc94f","18c5be77e7f3906f","02e4e86254b8ebad","53b1bf1ad2f8ba18","68753dfa8eb2fa0f"]]},{"id":"b31b554878a56036","type":"ha-sensor","z":"f0f6d170ce49dc91","name":"Watt","entityConfig":"702a92ee9601b1aa","version":0,"state":"payload.live_w","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":810,"y":100,"wires":[[]]},{"id":"6fae9c1fb66df454","type":"ha-sensor","z":"f0f6d170ce49dc91","name":"Total Fabrication","entityConfig":"e2b59e8bafe31e52","version":0,"state":"payload.total_kwh","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":840,"y":160,"wires":[[]]},{"id":"cc8429daccdbe07b","type":"cron","z":"f0f6d170ce49dc91","name":"Panneau solaire","crontab":"0/15 * * * * *","x":200,"y":100,"wires":[["9edb2e2375061ec1"]]},{"id":"094f89d5483dc94f","type":"ha-sensor","z":"f0f6d170ce49dc91","name":"Total Daily Fabrication","entityConfig":"18e314f99da07ae9","version":0,"state":"payload.daily_kwh","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":860,"y":220,"wires":[[]]},{"id":"18c5be77e7f3906f","type":"ha-sensor","z":"f0f6d170ce49dc91","name":"Online","entityConfig":"a0bce95520b9dbdd","version":0,"state":"payload.online","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":810,"y":280,"wires":[[]]},{"id":"02e4e86254b8ebad","type":"ha-sensor","z":"f0f6d170ce49dc91","name":"Offline","entityConfig":"c8c7052f0887e5fb","version":0,"state":"payload.offline","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":810,"y":340,"wires":[[]]},{"id":"53b1bf1ad2f8ba18","type":"ha-sensor","z":"f0f6d170ce49dc91","name":"Warning","entityConfig":"999803fdd48139c0","version":0,"state":"payload.warning","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":820,"y":400,"wires":[[]]},{"id":"68753dfa8eb2fa0f","type":"ha-sensor","z":"f0f6d170ce49dc91","name":"Error","entityConfig":"f3caf857f42f06b7","version":0,"state":"payload.error","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":810,"y":460,"wires":[[]]},{"id":"702a92ee9601b1aa","type":"ha-entity-config","server":"6e46a01c.0dde8","deviceConfig":"fbc1363dd8c61ea0","name":"Watt","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Watt"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"power"},{"property":"unit_of_measurement","value":"W"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"e2b59e8bafe31e52","type":"ha-entity-config","server":"6e46a01c.0dde8","deviceConfig":"fbc1363dd8c61ea0","name":"Total Fabrication","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Total Fabrication"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"energy"},{"property":"unit_of_measurement","value":"kWh"},{"property":"state_class","value":"total"}],"resend":false,"debugEnabled":false},{"id":"18e314f99da07ae9","type":"ha-entity-config","server":"6e46a01c.0dde8","deviceConfig":"fbc1363dd8c61ea0","name":"Total Daily Fabrication","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Total Daily Fabrication"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"energy"},{"property":"unit_of_measurement","value":"kWh"},{"property":"state_class","value":"total"}],"resend":false,"debugEnabled":false},{"id":"a0bce95520b9dbdd","type":"ha-entity-config","server":"6e46a01c.0dde8","deviceConfig":"fbc1363dd8c61ea0","name":"online","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"online"},{"property":"icon","value":""},{"property":"entity_category","value":"diagnostic"},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"c8c7052f0887e5fb","type":"ha-entity-config","server":"6e46a01c.0dde8","deviceConfig":"fbc1363dd8c61ea0","name":"offline","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"offline"},{"property":"icon","value":""},{"property":"entity_category","value":"diagnostic"},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"999803fdd48139c0","type":"ha-entity-config","server":"6e46a01c.0dde8","deviceConfig":"fbc1363dd8c61ea0","name":"warning","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"warning"},{"property":"icon","value":""},{"property":"entity_category","value":"diagnostic"},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"f3caf857f42f06b7","type":"ha-entity-config","server":"6e46a01c.0dde8","deviceConfig":"fbc1363dd8c61ea0","name":"error","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"error"},{"property":"icon","value":""},{"property":"entity_category","value":"diagnostic"},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"6e46a01c.0dde8","type":"server","name":"Home Assistant","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":false,"heartbeatInterval":"","statusSeparator":"","enableGlobalContextStore":false},{"id":"fbc1363dd8c61ea0","type":"ha-device-config","name":"Panneau solaire","hwVersion":"","manufacturer":"Node-RED","model":"","swVersion":""}]